html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans',
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: $white;
}

a {
  display: inline-block;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  &--max {
    max-width: 1380px;
    margin: 0 auto;
  }
}

.hero {
  text-align: center;
  margin: 0 auto;
  max-width: 556px;

  .title {
    font-family: Raleway;
    color: #333333;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;

    span {
      font-weight: 900;
    }
  }

  .posttitle {
    padding-top: 5px;

    color: #b3b3b3;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }

}