.header {
  height: 1951px;
  background: url(../img/header-bg.png) no-repeat center/cover;

  color: $white;
}

.header__content {
  height: 1951px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.hero__content {
  margin-bottom: 140px;

  display: grid;
  grid-template-columns: 380px 500px 500px;
  grid-template-rows: 310px 369px;
  // grid-template: "sweets food meat"
  //   "sweets text fruits";

  text-transform: uppercase;
  font-family: Raleway;

  figure {

    position: relative;

    figcaption {
      font-size: 30px;
      font-weight: 900;
      line-height: 30px;

      position: absolute;
      bottom: 29px;
      left: 29px;

      max-width: 152px;

      span {
        font-weight: 100;
      }
    }
  }

  &--sweets {
    grid-area: 1 / 1 / 3 / 1;
  }

  &--fruits {
    display: block;
  }

  &--text {
    padding: 84px 0 0 89px;
    color: #fcdb5a;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
    max-width: 305px;

    grid-area: 2;

    span {
      font-weight: 900;
    }
  }

}