.products__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
}

.products__item {
  height: 370px;

  a {
    height: 100%;
    position: relative;

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#241610, .7);
      opacity: 0;

      color: $white;
      font-family: Raleway;
      font-weight: 700;
      line-height: 23px;

      transition: opacity .7s ease;
    }

    &:hover span {
      opacity: 1;
    }
  }
}