.slogan {
  margin: 78px 0 160px;
}

.slogan__content {
  font-family: Raleway;

  &-images {
    position: relative;

    .slogan__img-abs {
      position: absolute;
      top: -36px;
      right: -36px;
    }
  }

  figure {
    position: relative;
    display: flex;

    figcaption {
      position: absolute;
      top: 50px;
      right: -40px;
      z-index: 1;
      max-width: 574px;
      font-size: 70px;
      line-height: 90px;

      .slogan__text {

        &--yellow {
          color: #fcdb5a;
        }

        &--pink {
          color: #db2985;
        }

        &--green {
          color: #72aa41;
        }

        &--orange {
          color: #f2a137;
        }

        &--blue {
          color: #4fb1c9;
        }

      }
    }
  }
}